<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error404</title>
</head>
<body style="background-color: beige;">
    <h1>404 Not Found</h1>
   
    <h1 style="font-size: 22px; text-align: center; background-color: blanchedalmond; color: rgb(63, 59, 59);">404 topilmadi javobi; Bu noto'g'ri so'rov tufayli, chunki foydalanuvchi so'rayapti
        mavjud bo'lmagan hujjat.
    </h1>
        <br>
    <h1 style="font-size: 22px; text-align: center; background-color: blanchedalmond; color: rgb(63, 59, 59);">
        ответ 404 Not Found; это связано с неправильным запросом, поскольку клиент запрашивает
        документ, которого нет.
    </h1>
        <br>
       
    <h1 style="font-size: 22px; text-align: center; background-color: blanchedalmond; color: rgb(63, 59, 59);"> a 404 Not Found response; this is due to a bad request because the client is requesting 
            a document that does not exist. </h1>
    <br>
</body>
</html>