<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error500</title>
</head>
<body style="background-color: beige;">
    <h1>404 Not Found</h1>
   
    <h1 style="font-size: 22px; text-align: center; background-color: blanchedalmond; color: rgb(63, 59, 59);">
        Modellarni ko'rishda Server 500 xatosi
    </h1>
        <br>
    <h1 style="font-size: 22px; text-align: center; background-color: blanchedalmond; color: rgb(63, 59, 59);">
        Ошибка сервера 500 при просмотре моделей
    </h1>
        <br>
       
    <h1 style="font-size: 22px; text-align: center; background-color: blanchedalmond; color: rgb(63, 59, 59);"> 
        Server 500 Error while trying to view models</h1>
    <br>
</body>
</html>